.quill-wrap {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.info {
    text-align: center;
    margin-top: 20px;
}

.quill-wrap .ql-active {
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

.quill-wrap button, .quill-wrap .ql-picker {
    margin-right: 2px
}