.quill-wrap {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.info {
    text-align: center;
    margin-top: 20px;
}

.quill-wrap .ql-active {
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

.quill-wrap button, .quill-wrap .ql-picker {
    margin-right: 2px
}

#editor {
    height: 375px;
}

#is-word {
    margin-bottom: 5px;
}

#is-word.ql-active {
    font-weight: bold;
}

.btn-primary {
    margin-top: 10px;
}

.alert {
    margin-top: 10px;
    margin-bottom: 0px;
}

.alert-notext {
    display: none;
}